<!DOCTYPE html>
<html lang="en-us">
  <head>
    <!-- Web config-->

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Sora</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">

    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:400,900italic,900,700italic,700,500italic,500,400italic,300italic,300,100italic,100">

    <!-- DEMO CSS-->
    <link rel="stylesheet" href="assets/stylesheets/demo.css">
    <link rel="stylesheet" href="assets/stylesheets/lib/prism.css">

    <!-- Framework CSS-->
    <link rel="stylesheet" href="assets/stylesheets/sora.css">

    <!-- Framework dependency-->
    <script src="assets/scripts/ResizeSensor.js"></script>
    <script src="assets/scripts/ElementQueries.js"></script>

  </head>
  <body>
    <script src="assets/scripts/prism.js"></script>
    <script src="assets/scripts/jquery-1.11.3.min.js"></script>
    <script src="assets/scripts/demo.js"></script>
  </body>
</html>